*{
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}
.promo-lateral
{
  width: 340px;
  height: auto;
}
.cep-img:before{
  content:'\EA46'
}
.header{
  background:rgb(255 241 89);
  font-size: 14px;
}
.promo-lateral{
  padding: 0;
  margin: 0;
}
.ico-search::before
{
    content: '\EA27';
    vertical-align: top;
}
.logo
{
  padding-top: 10px;
}
.form-control .btn-outline-light, .btn-outline-light
{
  padding: 7px 60px 9px 15px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  height: 39px;
}