*{
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}
body
{
  background: #ebebeb;
}
.payment-data-subtitle
{
  font-size: 12px;
  color: black;
}
.nav-footer-primaryinfo
{
  background:rgb(255 241 89);
  font-size: 12px;
}
.float-start
{
  font-size: 14px;
  color: #999;
  padding-top: 10px;
}
.promo-lateral
{
  width: 340px;
  height: auto;
}
.cep-img:before{
  content:'\2607';
  vertical-align: top;
}
.header{
  background:rgb(255 241 89);
  font-size: 13px;
}
.promo-lateral{
  padding: 0;
  margin: 0;
}
.ico-search::before
{
    content: '\2315';
    vertical-align: top;
}
.logo
{
  padding-top: 10px;
}
.form-control .btn-outline-light, .btn-outline-light
{
  padding: 7px 60px 9px 15px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  height: 39px;
}
.ajust1
{
  width: 100%;
}
.img
{
  width: max-content;
  height: auto;
}
.pg
{
  background: #ebebeb;
  max-width: 100%;
  padding: 30px 8px 1px 8px;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  text-align: left;
}
.produtos-list
{
  width: 100%;
  height: auto;
}
.margin-fix
{
  margin-left: -24px;
  margin-right: -24px;
}
.margin-footer-fix
{
  margin-left: -12px;
  margin-right: -12px;
}